.sidenav{
	height: 100%;/*100% full height */
	width: 250px;
	position: fixed;
	z-index: 1;  
	top : 0;
	left: 0;
	background-color: #222;
	overflow-x: hidden; /* disable the horsontal scroll */
	transition: 0.3s;
}
.sidenav a{
	margin-top: 10px;
	padding: 4px 8px 8px 32px;
	text-decoration: none;
	font-size: 15px;
	color: #818181;
	display: block;
	transition: 0.3s;

}
.sidenav a:hover{
	color: #f1f1f1;
}

@media screen and (max-height: 400px) {
  .sidenav {padding-top: 8px;}
  .sidenav a {font-size: 16px;}
}
a{text-decoration: none;}
.topnav{
	top : 0;
	left: 0;
	width: 100%;
	background-color: #333;
	position: fixed;

}
.topnav img{
	float: left;
	margin-left: 10px;
	height: 60px;
	width: 60px;
}
.topnav h4{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: -5px 10px;
	text-decoration: none;
	font-size: 20px;
}
.topnav h4:hover{
	color: #818181;
}

.topnav a{
	float: right;
	color: white;
	list-style: none;
	padding: 8px 12px;
	margin-right: 10px;
	text-decoration: none;
	font-size: 14px;
	color: #818181;
	display: block;
	transition: 0.3s;
	list-style: none;
	margin-top: 15px;
}
.topnav p{
	float: right;
	color: white;
	list-style: none;
	padding: 8px 12px;
	margin-right: 20px;
	text-decoration: none;
	font-size: 14px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.topnav p:hover{
	color: white;
}
.topnav a:hover{
	color: white;
}
.topnav img{
	height: 50px;
	width: 100px;
	float: left;
}